# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Playwright
.playwright/

# OS
.DS_Store

# Scraper Output Logs/Files
meta_jobs_*.csv
meta_jobs_*.xlsx
meta_jobs_*.ods
*.log
